@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap");
* {
  font-family: "Nunito", sans-serif;
}
.App {
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 79vh;
  border: 1px solid red;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  background-color: #00c9b7;
  margin: 10px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
}

.btn:hover {
  box-shadow: none;
}

.input {
  height: 1.5rem;
  padding: 13px;
  border: none;
  border: 0.24px solid gainsboro;
  border-radius: 10px;
  outline-color: #0096c7;
  width: 20%;
  font-size: 1rem;
}

::placeholder {
  padding: 2px;
  font-size: 1rem;
}

.todoItem {
  display: flex;
  width: 35%;
  margin: 10px auto;
  padding: 0px 30px;
  /* border: 0.25px solid gainsboro; */
  justify-content: space-between;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
}

.deleteBtn {
  border-radius: 20px;
  font-size: 1.5rem;
  background-color: transparent;
  padding: 5px;
  border: none;
}

.deleteIcon {
  color: #f24c4c;
  cursor: pointer;
  font-size: 1.27rem;
  transition: all 800ms;
}

.deleteIcon:hover {
  color: #ff0000;
  transform: rotate(360deg);
}

input[type="checkbox"] {
  appearance: none;
  border: 3px solid #36ae7c;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: auto 10px;
  cursor: pointer;
  transition: all 500ms;
}

input[type="checkbox"]:checked {
  background-color: #1fab89;
}

.striked {
  text-decoration: line-through;
  color: #f24c4c;
}

.paginationBtn {
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  color: whitesmoke;
  background-color: #2c3333;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.paginationBtn:hover {
  background-color: #393d3d;
}

.paginationPageNumber {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 5px;
}

:disabled {
  cursor: not-allowed;
  background-color: gainsboro;
}

.loading {
  width: 40%;
  margin-top: 10%;
}

@media only screen and (max-width: 480px) {
  .input {
    width: 60%;
    font-size: 1.2rem;
  }

  .error {
    width: 100%;
    margin-top: 20vh;
  }

  .todoItem {
    width: 60%;
    padding: 1px 5px;
    border-radius: 10px;
  }

  .deleteBtn {
    font-size: 1rem;
  }

  .deleteIcon {
    font-size: 1rem;
  }

  .title {
    font-size: 1rem;
  }

  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border: 2px solid #36ae7c;
  }

  .input {
    height: 1rem;
  }

  .btn {
    display: none;
  }

  .loading {
    width: 60%;
    margin-top: 10vh;
  }
}

@media only screen and (max-width: 768px) {
  .input {
    width: 60%;
  }

  .empty {
    width: 70%;
  }

  .error {
    width: 100%;
    margin-top: 20vh;
  }
  .title {
    font-size: 1rem;
  }
  .deleteBtn{
    font-size: 1.2rem;
  }
  .deleteIcon{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .input {
    width: 50%;
  }

  .error {
    width: 40%;
    margin-top: 5vh;
  }
  .title {
    font-size: 1rem;
  }
}

/* *****Loader Animation************* */
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading div {
  position: absolute;
  top: 33px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading div:nth-child(1) {
  background: #00cba9;
  left: 8px;
  animation: loader1 0.6s infinite;
}

.loading div:nth-child(2) {
    background: #e7008a;
  left: 8px;
  animation: loader2 0.6s infinite;
}

.loading div:nth-child(3) {
    background: #0099ff;
  left: 32px;
  animation: loader2 0.6s infinite;
}

.loading div:nth-child(4) {
    background: #ff5500;
  left: 56px;
  animation: loader3 0.6s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}